version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: grafana_lab_prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  shoehub:
    image: aussiearef/shoehub:latest
    container_name: grafana_lab_shoehub
    ports:
      - "8080:8080"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana_lab_grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro

volumes:
  grafana-data:
